<div class="my-container">
  <div class="card">
    <div ><img class="image" src="../../../assets/login.jpg"/></div>
    <div class="inner-content">
      <p style="font-weight: 800;">Signup</p>
      <div>
        <input type="text" placeholder="Email" class="input-box">
      </div>
      <div>
        <input type="password" placeholder="Password" class="input-box">
      </div>
      <div>
        <input type="text" placeholder="Confirm Password" class="input-box">
      </div>
      <button routerLink="/products" class="button-design">Create Account</button>
      <div class="signup-text">
        Already have an account? login <a routerLink="/login"> <b style="color: #ff3c6c;"> click here </b> </a>
      </div>
    </div>

  </div>
</div>
